<!-- <div class="home-slides owl-carousel owl-theme documentation"></div> -->

<owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']"
    style="height: 630px;">
    <div class="item" *ngFor="let item of mySlideImages">
        <div>
            <div class="main-banner-four item-bg-1">
                <img style="height: 630px;" src="http://murung-admin-api.bpbd.devetek.com/download?id_media={{
            item.id_media
          }}" />
            </div>

            <div class="d-table" style="margin-top: -630px; padding-top: 250px; padding-bottom: 250px;">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-12">
                                <div class="hero-content">
                                    <h1 routerLink="{{ item.link }}">{{ item.text }}</h1>
                                    <!-- <p  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</owl-carousel>

<!-- <owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let item of dataSlide">
    <ng-template carouselSlide [id]="item.id_media">
      <img [src]="item.id_media" [alt]="item.judul" [title]="item.judul" />
    </ng-template>
  </ng-container>
</owl-carousel-o> -->

<!-- <div class="home-slides owl-carousel owl-theme">
  <div *ngFor="let item of dataSlide">
    <div class="main-banner-three">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                  <img
                    src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=besar&id_media=9fecd3e9-9cc1-478b-9afb-baac8a0bb1fb"
                    alt="banner-img"
                  />
                </div>
              </div>

              <div class="col-lg-6 col-md-12">
                <div class="hero-content">
                  <h1>
                    We Are A Full Service <span>Digital</span>
                    <span>Marketing</span> Agency
                  </h1>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dumm.
                  </p>
                  <a routerLink="/contact" class="btn btn-primary"
                    >Get Started</a
                  >
                  <a
                    href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                    class="video-btn"
                    >Play Now<i class="icofont-play-alt-3"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="circle-pattern-1"></div>
    </div>
  </div>
</div> -->

<!-- <div class="home-slides owl-carousel owl-theme" *ngFor="let item of dataSlide">
  <div
    class="main-banner-four item-bg-1"
    [style.background]="
      'url(http://murung-admin-api.bpbd.devetek.com/download?ukuran=besar&id_media=9fecd3e9-9cc1-478b-9afb-baac8a0bb1fb)'
    "
  >
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="hero-content">
                <h1>{{ item.judul }}</h1>
                <p style="color: #fff;">{{ item.text_1 }}</p>
                <a
                  target="_blank"
                  href="{{ item.link }}"
                  class="btn btn-primary video-btn"
                  >Play Now<i class="icofont-play-alt-3"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="home-slides owl-carousel owl-theme">
  <div
    class="main-banner-four item-bg-1"
    style="background-image: url(assets/img/bg.jpg);"
  >
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="hero-content">
                <h1>BPBD <span>Digital</span> <span>MURUNG</span> RAYA</h1>
                <p style="color: #fff;">Lorem Ipsum is simply dummy text</p>
                <a routerLink="#" class="btn btn-primary">Get Started</a>
                <a
                  href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                  class="btn btn-primary video-btn"
                  >Play Now<i class="icofont-play-alt-3"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="main-banner-four item-bg-1"
    style="background-image: url(assets/img/k.jpg);"
  >
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="hero-content">
                <h1>BPBD <span>Digital</span> <span>MURUNG</span> RAYA</h1>
                <p style="color: #fff;">Lorem Ipsum is simply dummy text</p>
                <a routerLink="#" class="btn btn-primary">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->