.main-banner-four {
  height: 630px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    opacity: 0;
  }
  .hero-content {
    margin-top: 30px;

    h1 {
      text-transform: capitalize;
    }
  }
}

h1 {
  color: #fbfbfb;
}
