<div class="page-title">
    <div class="bg-pattern">
        <img src="assets/img/bg-pattern-2.png" alt="pattern" />
    </div>
</div>

<router-outlet></router-outlet>

<app-footer-kontak></app-footer-kontak>