<section class="features-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Profil</span>
                        <h3>Struktur Organisasi</h3>
                    </div>
                </div>
            </div>
        </div>
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <div class="img">
            <!-- <div class="item" *ngIf="is_loading">
              <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
            </div> -->
  
            <!-- <div [innerHTML]="page.content"></div> -->
            <img src="assets/img/struktur.png" alt="pattern" />
          </div>
        </div>
      </div>
    </div>
  </section>