<div class="page-title">
    <div class="bg-pattern">
        <img src="assets/img/bg-pattern-2.png" alt="pattern" />
    </div>
</div>

<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <h3>Hubungi Kami</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-phone"></i>
                    </div>
                    <div class="content">
                        <h3>Phone / Fax</h3>
                        <p><a href="tel:+0218882771">(021) 8882771</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-envelope"></i>
                    </div>
                    <div class="content">
                        <h3>E-mail</h3>
                        <p><a href="murungrayarisk@gmail.com">murungrayarisk@gmail.com </a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="contact-box">
                    <div class="icon">
                        <i class="icofont-google-map"></i>
                    </div>
                    <div class="content">
                        <h3>Location</h3>
                        <p>Jl. Letjend Soeprapto,
                            (Terminal AKAP Bahitom) Puruk Cahu Kalimantan Tengah</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">

            <!-- <div class="col-lg-12 col-md-12">
                <app-map></app-map>
            </div> -->


            <div class="col-lg-6 col-md-6">
                <div class="contact-text">
                    <p>Silahkan mengisi fasilitas komunikasi Kontak Kami. Mohon masukan dan pertanyaan disampaikan
                        secara bijak dengan kata-kata yang baik.</p>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="icofont-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="text" name="nama" class="form-control" placeholder="Name"
                                    [(ngModel)]="nama">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email"
                                    [(ngModel)]="email">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="text" name="subjek" class="form-control" placeholder="Subject"
                                    [(ngModel)]="subjek">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" name="deskripsi" class="form-control" id="message" cols="30"
                                    rows="4" placeholder="Your Message" [(ngModel)]="pesan"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary" (click)="simpan()">Kirim</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>

    </div>
</section>