<section class="repair-about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="repair-about-image">                   
                    <img src="assets/img/visi-misi/visi-1.jpg" alt="image">
                    <img src="assets/img/visi-misi/visi-2.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Profil</span>
                        <h3>Visi dan Misi</h3>
                        <br><br>
                        <p><b class="text-bold">{{dataVisi.title}} :</b></p><br>
                        <div [innerHTML]="dataVisi.content | safeHtml"></div>
                    </div>

                    <div class="section-title">
                        <p><b class="text-bold">{{dataMisi.title}} :</b></p>

                        <div class="analysis-text">
                            <ul>
                                <div [innerHTML]="dataMisi.content | safeHtml"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>