<section class="features-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="item" *ngIf="is_loading">
                    <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                </div>
                <div class="img">
                    <img width="500"
                        src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{data.id_media}}"
                        alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="features-text mb-0">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>

                    <h3>{{data.title}}</h3>
                    <div [innerHTML]="data.content | safeHtml"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket"><img src="assets/img/rocket.png" alt="rocket"></div>
    <div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>
</section>