<section class="team-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Profil</span>
                        <h3>Personil</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item" *ngIf="is_loading">
                <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6" *ngFor="let item of data">
                <div class="single-team">
                    <img src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{item.id_media}}"
                        alt="team">
                    <div class="team-content">
                        <h3>{{item.nama_lengkap}}</h3>
                        <span>{{item.pangkat}}</span>
                        <ul>
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>