<footer class="footer-area bg-fbf9f8">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo" style="text-align: center;">
                        <a style="max-width: 100px;" routerLink="/"><img src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{
                  home.id_media
                }}" alt="image" /></a>
                    </div>
                    <div [innerHTML]="home.text | safeHtml"></div>
                    <ul class="social-links">
                        <li>
                            <a href="#"><i class="icofont-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icofont-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Profil</h3>
                    <ul class="services-list">
                        <li><a href="/profil/sejarah">Sekilas BPBD Murung Raya</a></li>
                        <li><a href="/profil/visi-misi">Visi dan Misi</a></li>
                        <li><a href="/profil/tugas-fungsi">Tugas dan Fungsi</a></li>
                        <li><a href="/profil/personil">Personil</a></li>
                        <li>
                            <a href="/profil/struktur-organisasi">Struktur Organisasi</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Data Bencana</h3>
                    <ul class="services-list">
                        <li *ngFor="let item of dataBencana">
                            <a href="direktori/{{ item.id_bencana_kategori }}">{{
                                item.bencana_kategori
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Katalog Data</h3>
                    <ul class="services-list">
                        <li *ngFor="let item of dataDirektori">
                            <a href="katalog/{{ item.id_direktori_kategori }}">{{
                                item.kategori
                                }}</a>
                        </li>
                    </ul>
                </div>
                <div class="single-footer-widget">
                    <h3 class="title">Disclaimer</h3>
                    <ul class="services-list">
                        <li>
                            <a routerLink="/disclaimer/bahaya">Analisa Tingkat Bahaya</a>
                        </li>
                        <li>
                            <a routerLink="/disclaimer/kerentanan">Analisa Tingkat Kerentanan</a>
                        </li>
                        <li>
                            <a routerLink="/disclaimer/rentan-lingkungan">Kerentanan Lingkungan</a>
                        </li>
                        <li>
                            <a routerLink="/disclaimer/kapasitas">Analisa Tingkat Kapasitas</a>
                        </li>
                        <li>
                            <a routerLink="/disclaimer/resiko">Peta Indeks Resiko Bencana</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <h3>Kontak</h3>
          <ul class="contact-list">
            <li>

            </li>
            <li>
              <span>Email &nbsp;:&nbsp; </span>
              <a href="mailto:murungrayarisk@gmail.com">murungrayarisk@gmail.com</a>
            </li>
            <li>
              <span>Phone &nbsp;:&nbsp; </span>
              <a href="tel:+0321984754">(021) 888xxx</a>
            </li>
            <li>
              <span>Fax &nbsp;:&nbsp; </span>
              <a href="tel:+0321984754">(021) 8882xx</a>
            </li>
          </ul>
        </div>
      </div> -->
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>
                        <i class="icofont-copyright"></i> 2020 BPBD Murung Raya. All Rights Reseverd
                        by MeTTa
                    </p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top"><i class="icofont-stylish-up"></i></div>