.single-services h3 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 25px;
}

.ptb-100 {
  padding-top: 30px;
  padding-bottom: 0px;
}

.services-area.bg{
  // background-color: #f45327;
  background-color: #fbf9f8;
}

.read-more-btn{
  text-decoration: underline;
}