<section class="services-area bg ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Katalog Data</span>
            <h3>Direktori Peta</h3>
        </div>

        <div class="row">
            <div class="item" *ngIf="is_loading">
                <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of dataKategori">
                <div class="single-services">
                    <div class="icon">
                        <img style="width: 70%;"
                            src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{item.icon}}"
                            alt="image">
                    </div>
                    <h3>{{item.kategori}}</h3>
                    <p>{{item.jumlah}} Data</p>
                    <a href="/katalog/{{item.id_direktori_kategori}}" class="read-more-btn">Lihat Katalog</a>
                </div>
            </div>



        </div>
    </div>
</section>