.ptb-100 {
  padding-top: 20px;
  padding-bottom: 30px;
}

.section-title {
  margin-bottom: 40px;
}

.funfacts-area {
  background: #fbf9f8;
  color: black;
}

.fun-fact h3 {
  color: black;
}.fun-fact p {
  color: black;
}

.fun-fact img {
  font-size: 45px;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 5px;
  -webkit-animation: movebounce 3s linear infinite;
  animation: movebounce 3s linear infinite;
  transition: 0.4s;
  max-width: 65px;
}


