<section class="funfacts-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span style="color: black;">Tahun {{tahun}}</span>
            <h3 style="color: black; margin-top: 0px;">Data Bencana</h3>
        </div>

        <h5 *ngIf="dataKategori.length <1 " style="font-style: italic; color: burlywood;">Tidak ada data bencana
            pada tahun {{tahun}}</h5>


        <div echarts [options]="options" class="demo-chart" (chartInit)="onChartInit($event)"></div>

        <div class="row">
            <div class=" col-lg-3" *ngFor="let item of dataKategori" style="margin-bottom: 10px;">
                <div class="fun-fact">
                    <i *ngIf="!item.icon" class="icofont-life-jacket"></i>
                    <img *ngIf="item.icon" class="statitik-icon"
                        src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{item.icon}}">
                    <p style="font-size: 15px;">{{item.bencana_kategori}}:</p>
                    <h3>
                        <span class="odometer" data-count="2">{{item.jumlah}}</span><span class="sign"></span>
                    </h3>
                </div>
            </div>
            <!-- <div id="chartContainer" style="height: 370px; width: 100%;" ></div> -->
            <!-- <div class="col-6 col-lg-3 col-sm-3 col-md-3">
        <div class="fun-fact">
          <i class="icofont-fire-burn"></i>
          <p>Kebakaran:</p>
          <h3>
            <span class="odometer" data-count="4">00</span
            ><span class="sign">+</span>
          </h3>
        </div>
      </div>

      <div class="col-6 col-lg-3 col-sm-3 col-md-3">
        <div class="fun-fact">
          <i class="icofont-eraser"></i>
          <p>Longsor:</p>
          <h3>
            <span class="odometer" data-count="8">00</span
            ><span class="sign">+</span>
          </h3>
        </div>
      </div> -->

            <!-- <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-life-bouy"></i>
                    <p>Banjir Bandang:</p>
                    <h3><span class="odometer" data-count="8">00</span><span class="sign">+</span></h3>
                </div>
            </div> -->

            <!-- <div class="col-6 col-lg-3 col-sm-3 col-md-3">
        <div class="fun-fact">
          <i class="icofont-excavator"></i>
          <p>Lainnya:</p>
          <h3>
            <span class="odometer" data-count="45">00</span
            ><span class="sign">+</span>
          </h3>
        </div>
      </div> -->
        </div>
    </div>
</section>