<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="image" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a routerLink="/" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Beranda</a>
                </li>

                <li class="nav-item">
                    <a routerLink="/profil" class="nav-link">Profil <i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/profil/sejarah" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Sekilas BPBD Murung Raya</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/profil/visi-misi" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Visi dan Misi</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/profil/tugas-fungsi" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Tugas dan Fungsi</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/profil/personil" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Personil</a>
                        </li>

                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/profil/struktur-organisasi" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Struktur Organisasi</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/kontak" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Kontak</a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="nav-item">
                    <a routerLink="/webgis" class="nav-link">Sistem Informasi <i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/webgis" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Aplikasi WebGIS</a>
                        </li>
                    </ul>
                </li> -->

                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="http://webgis.bpbd.murungrayakab.go.id">Aplikasi WebGIS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link">Data Bencana <i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
                            *ngFor="let item of bencana">
                            <a routerLink="/direktori/{{item.id_bencana_kategori}}" class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">{{item.bencana_kategori}}</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link">Siaran Pers <i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
                            *ngFor="let item of post">
                            <a routerLink="/artikel/{{item.id_post_type}}" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">{{item.post_type}}</a>
                        </li>
                    </ul>
                </li>

                <!-- <li class="nav-item">
                    <a routerLink="/ekstra" class="nav-link">Informasi Publik <i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/ekstra/pengadaan" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Pengadaan Barang dan Jasa</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/ekstra/inventaris" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Inventaris</a>
                        </li>
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                            <a routerLink="/ekstra/hukum" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Hukum</a>
                        </li>

                    </ul>
                </li> -->

                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link">Katalog Data <i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
                            *ngFor="let item of kategori">
                            <a routerLink="/katalog/{{item.id_direktori_kategori}}" class="nav-link"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">{{item.kategori}}</a>
                        </li>

                    </ul>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link">Data Bencana<i class="icofont-simple-down"></i></a>
                    <ul class="dropdown-menu">
                
                        <li class="nav-item" *ngFor="let item of listDirektoriKategori" data-toggle="collapse"
                            data-target=".navbar-collapse.show">
                            <a routerLink="/direktori/{{item.id_kategori}}" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">{{item.kategori}}</a>
                        </li>
                
                    </ul>
                </li> -->

                <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a routerLink="/galeri" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Galeri</a>
                </li> -->

                <!-- <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a routerLink="/kontak" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Kontak</a>
                </li> -->
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a routerLink="/lapor" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Pengaduan</a>
                </li>
            </ul>

            <div class="others-option">
                <div class="modal-taggle-button">
                    <a href="#" data-toggle="modal" data-target="#sidebarModal"><span></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal right fade sidebarModal" id="sidebarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="logo" style="text-align: center;">
                    <a routerLink="/"><img style="max-width: 220px;" src="assets/img/logo.png" alt="logo" /></a>
                </div>
                <p style="text-align: justify;">
                    Sistem Informasi Rawan Bencana Kabupaten Murung Raya. BPBD Murung Raya
                    <i class="icofont-copyright"></i>2020 BPBD Murung Raya. All Rights Reseverd
                    by <a href="https://devetek.com/" target="_blank">Devetek</a>.
                </p>
                <ul class="modal-contact-info">
                    <li>
                        <i class="icofont-google-map"></i>
                        <strong>Jl. Letjend Soeprapto </strong> (Terminal AKAP Bahitom)
                        Puruk Cahu Kalimantan Tengah
                    </li>
                    <li>
                        <i class="icofont-ui-call"></i>
                        <strong>(021) 8882771</strong> Hubungi kami via telepon
                    </li>
                    <li>
                        <i class="icofont-envelope"></i>
                        <strong>murungrayarisk@gmail.com</strong> Hubungi kami via email
                    </li>
                </ul>
                <ul class="social-links">
                    <li>
                        <a href="#"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icofont-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icofont-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icofont-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icofont-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>