<p>kapasitas works!</p>
<div class="row ptb-100 align-items-center">
    <div class="col-lg-12 col-md-12">
        <div class="features-text" style="text-align: justify;">
            <h3>Peta Indeks Resiko Bencana</h3>

            <p>Penentuan indeks risiko bencana dilakukan dengan menggabungkan nilai indeks bahaya, kerentanan, dan
                kapasitas daerah. Proses ini dilakukan dengan menggunakan kalkulasi secara spasial sehingga dapat
                menghasilkan peta risiko dan nilai grid yang dapat dipergunakan dalam menyusun penjelasan peta risiko.
                Untuk perhitungan tingkat Kabupaten Murung Raya, keseluruhan proses dilakukan dengan mengikuti kaidah
                kartografi yaitu dengan analisis menggunakan input data yang tersedia pada skala 1 : 50.000. Hasil yang
                dihasilkan juga akan mengikuti skala analisis yang digunakan. Ketentuan ini juga mengacu pada pedoman
                umum pengkajian risiko bencana yang telah ditetapkan oleh BNPB pada tahun 2012.
            </p>
            <br />
            <p>Berikut tahapan penyusunan atau pembuatan Peta Indeks Resiko Bencana sebagaimana Gambar III-13 di bawah
                ini. </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/lingkungan2.png" alt="details">
            </p>
            <br />
            <p>Adapun metode analisis perhitungan Tingkat Resiko Bencana Kabupaten Murung Raya sebagaimana arahan yang
                termuat dalam Buku Indesk Rawan Bencana Indonesia (IRBI) tahun 2013, yang meliputi tahapan;</p>
            <br />
            <ul>
                <li>
                    <p>a. Klasifikasi Data</p>
                    <br />
                    <p>Data yang digunakan merupakan data hasil kajian risiko yang terdiri dari data: (1) bahaya per
                        jenis bencana, (2) jiwa terpapar per jenis bencana, (3) kerugian rupiah per jenis bencana, (4)
                        kerusakan lingkungan (ha) per jenis bencana dan (5) kapasitas pemerintah daerah per
                        kabupaten/kota.</p>
                </li>
                <br/>
                <li>
                    <p>b. Pembobotan</p>
                    <br />
                    <p>Penentuan bobot per jenis bahaya (Parameter 1) yang ditentukan berdasarkan hubungan antara
                        frekuensi kejadian dengan ada tidaknya peringatan. bobot per jenis bahaya dan nilai tingkat
                        bahaya 1 untuk rendah, 2 untuk sedang dan 3 untuk tinggi.</p>
                    <br />
                    <p>Bobot kerentanan (parameter 2) berbeda untuk masing-masing jenis bahaya yang dihitung berdasarkan
                        indeks penduduk terpapar dalam jiwa, kerugian dalam rupiah dan kerusakan lingkungan dalam
                        hektar.</p>
                    <br />
                    <p>Komponen kapasitas (parameter 3) disusun untuk semua jenis bencana berdasarkan parameter
                        kapasitas regulasi, kelembagaan, sistem peringatan dini, pendidikan, pelatihan, keterampilan,
                        mitigasi, dan sistem kesiapsiagaan.</p>
                    <br />
                    <p>Masing-masing parameter kemudian dikelompokkan menjadi 3 kelas yang kemudian digunakan untuk
                        menghitung indeks risiko bencana dengan menggunakan rumus risiko dibawah ini:</p>
                    <br />
                    <p>
                        <img src="assets/img/disclaimer/kerentanan/aa.png" alt="details">
                    </p>
                    <br />
                    <p>Penentuan interval kelas masing - masing indeks jenis bencana dilakukan menggunakan nilai indeks
                        dari kelas 1 untuk rendah, kelas 2 untuk sedang dan kelas 3 untuk tinggi. Penentuan skor untuk
                        masingmasing parameter dilakukan dengan metode pengkalian antara kelas (1, 2, dan 3) dengan
                        bobot yang telah ditentukan. Skor masingmasing parameter kemudian dijumlahkan secara keseluruhan
                        untuk memperoleh skor total bencana di wilayah kabupaten.</p>
                </li>
                <br/>
                <li>
                    <p>c. Skoring</p>
                    <br />
                    <p>Skoring adalah melakukan operasi matematika dengan perkalian antara bobot dan nilai kelas yang
                        telah dibuat. Dalam satu kabupaten/kota, jumlah nilai skoring menunjukkan klasifikasi kerawanan
                        kabupaten/ kota tersebut.</p>
                </li>
                <br/>
                <li>
                    <p>d. Klasifikasi Tingkat Resiko Bencana</p>
                    <br />
                    <p>Dengan menggunakan bobot dan kelas tersebut, klasifikasi tingkat risiko bencana pada
                        kabupaten/kota menjadi tiga kelas yaitu rendah sedang dan tinggi, adapun besaran nilai bobot
                        untuk masing – masing jenis bencana berbeda – beda sesuai dengan skor potensi bencana yang
                        diamati.</p>
                </li>
               
            </ul>

        </div>
    </div>
</div>