<div class="side-bar mb-0">
    <!-- <div class="widget-box search-box">
        <form>
            <input type="text" placeholder="Search here..." class="form-control">
            <button type="submit"><i class="icofont-search-2"></i></button>
        </form>
    </div> -->
    <div class="widget-box categories-box">
        <h3 class="title">Data Bencana</h3>
        <ul>
            <li  *ngFor="let item of bencana" >
                <a
                routerLink="/direktori/{{item.id_bencana_kategori}}">{{item.bencana_kategori}}</a
              >
            </li>
            <!-- <li *ngFor="let item of listKategori['direktori']">
                <a [routerLink]="['/direktori',item.id_kategori]"><i class="icofont-dotted-right"></i>
                    {{item.kategori}}</a></li> -->
        </ul>
    </div>

    <div class="widget-box categories-box">
        <h3 class="title">Katalog Data</h3>
        <ul>
            <li *ngFor="let item of kategori" >
              <a routerLink="/katalog/{{item.id_direktori_kategori}}" >{{item.kategori}}</a>
            </li>

            <!-- <li *ngFor="let item of listKategori['katalog']">
                <a [routerLink]="['/katalog',item.id_kategori]"><i class="icofont-dotted-right"></i>
                    {{item.kategori}}</a></li> -->
        </ul>
    </div>

    <!-- <div class="widget-box tags-box">
        <h3 class="title">Tags</h3>
        <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Arts</a></li>
            <li><a href="#">Blog Post</a></li>
            <li><a href="#">Seo Analysis</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Email Marketing</a></li>
        </ul>
    </div> -->
</div>