<div class="page-title">
    <div class="bg-pattern">
        <img src="assets/img/bg-pattern-2.png" alt="pattern" />
    </div>
</div>

<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Laporan Kejadian</span>
                        <h3>Lapor Bencana Masyarakat</h3>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Form -->
        <div class="row">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label><b>Nama Lengkap</b><span class="text-danger">*</span></label>
                        <input type="text" name="nama" class="form-control" placeholder="Nama Lengkap"
                            [(ngModel)]="nama_lengkap">
                            {{nama_lengkap}}
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label><b>Nomor Telepon</b><span class="text-danger">*</span> </label>
                        <input type="text" name="telepon" class="form-control" placeholder="Nomor Telepon"
                            [(ngModel)]="telp">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label><b>Subjek</b><span class="text-danger">*</span> </label>
                        <input type="text" name="subjek" class="form-control"
                            placeholder="Contoh : Banjir, Kebakaran, Pohon Tumbang" [(ngModel)]="subjek">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label><b>Lokasi Kejadian</b><span class="text-danger">*</span> </label>
                        <input type="text" name="lokasi" class="form-control" placeholder="Lokasi" 
                            [(ngModel)]="lokasi_kejadian">
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label><b>Ceritakan Kronologi Kejadian</b><span class="text-danger">*</span> </label>
                        <textarea name="message" class="form-control" name="kronologi" cols="30" rows="4"
                            placeholder="Kronologi Kejadian" [(ngModel)]="kronologi"></textarea>
                    </div>
                </div>

                <!-- <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label><b>Foto Kejadian</b> </label>
                        <input type="file" class="form-control" name="foto">
                    </div>
                </div> -->

                <div class="col-lg-12 col-md-12">
                    <button type="submit" class="btn btn-primary" (click)="simpan()">Kirim</button>
                </div>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <h3 style="width: 100%;">Daftar Laporan Bencana Masyarakat</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- List -->
        <div class="row">
            <div class="col-md-12">
                <div class="blog-details-content">
                    <table class="table">
                        <tr>
                            <th>No</th>
                            <!-- <th>Foto Kejadian</th> -->
                            <th>Nama</th>
                            <th>No. HP</th>
                            <th>Subjek</th>
                            <th>Lokasi</th>
                            <th>Tanggal</th>
                            <th>Kronologi</th>
                        </tr>

                        <tr *ngFor="let item of dataLapor, let i = index">
                            <td style="text-align: center;">{{i+1}}</td>
                            <!-- <td><img width="120"
                                    src="http://bpbd.bengkaliskab.go.id/asset/laporan/86944703944IMG-20190802-WA0077.jpg">
                            </td> -->
                            <td>{{item.nama_lengkap}}</td>
                            <td>{{item.telp}}</td>
                            <td>{{item.subjek}} Lahan</td>
                            <td>{{item.lokasi_kejadian}}</td>
                            <td>{{item.created_at | date }}</td>
                            <td>{{item.kronologi}}</td>
                        </tr>

                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<app-footer-kontak></app-footer-kontak>