<section class="features-area ptb-100">
    <div class="container">

        <div class="row ">

            <div class="col-lg-4 col-md-2" *ngIf="bencana.id_bencana != null">
                <div>
                    <div class="section-title">
                        <span>Detail Bencana</span>
                        <h3>{{bencana.penyebab}}</h3>
                    </div>
                    <img src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{bencana.foto}}"
                        alt="team">
                    <br />
                    <span>
                        <p style="text-align: justify;"><b>Kronologi:</b> {{bencana.kronologi}}</p>
                    </span>
                    <table class="Table2">
                        <tr>
                            <td><b>Tanggal</b></td>
                            <td>: {{bencana.tanggal |date}}</td>
                        </tr>
                        <tr>
                            <b>Lokasi</b>
                        </tr>
                        <tr>
                            <td>Kelurahan</td>
                            <td>: {{kel.nama_kel}}</td>
                        </tr>
                        <tr>
                            <td>Kecamatan</td>
                            <td>: {{kec.nama_kec}}</td>
                        </tr>
                        <tr>
                            <td>Kab/Kot</td>
                            <td>: {{kab.nama_kabkot}}</td>
                        </tr>
                        <tr>
                            <td>Provinsi</td>
                            <td>: {{prov.nama_prov}}</td>
                        </tr>
                        <tr>
                            <b>Kekuatan</b>
                        </tr>
                        <tr>
                            <td>Level</td>
                            <td>: {{bencana.level_bencana}}</td>
                        </tr>
                        <tr>
                            <td>Kerusakan</td>
                            <td>: {{bencana.kerusakan}}</td>
                        </tr>
                        <tr>
                            <td>Luas</td>
                            <td>: {{bencana.luas}}</td>
                        </tr>
                        <tr>
                            <b>Korban</b>
                        </tr>
                        <tr>
                            <td>Hilang</td>
                            <td>: {{bencana.jumlah_korban_hilang}}</td>
                        </tr>
                        <tr>
                            <td>Luka Ringan</td>
                            <td>: {{bencana.jumlah_korban_luka_ringan}}</td>
                        </tr>
                        <tr>
                            <td>Luka Berat</td>
                            <td>: {{bencana.jumlah_korban_luka_berat}}</td>
                        </tr>
                        <tr>
                            <td>Meninggal</td>
                            <td>: {{bencana.jumlah_korban_meninggal}}</td>
                        </tr>
                        <tr>
                            <b>Antisipasi</b>
                        </tr>
                        <tr>
                            <td>Penanganan</td>
                            <td>: {{bencana.penanganan}}</td>
                        </tr>
                        <tr>
                            <td>Tindakan</td>
                            <td>: {{bencana.tindakan}}</td>
                        </tr>
                        <tr>
                            <td>Masa Darurat</td>
                            <td>: {{bencana.masa_darurat}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="rocket"><img src="assets/img/rocket.png" alt="rocket"></div> -->
    <div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>
</section>