<p>kapasitas works!</p>
<div class="row ptb-100 align-items-center">
    <div class="col-lg-12 col-md-12">
        <div class="features-text" style="text-align: justify;">
            <h3>Analisa Tingkat Kapasitas</h3>

            <p>Penilaian kapasitas daerah mengacu kepada Peraturan Kepala Badan Nasional Penanggulangan Bencana Nomor 3
                Tahun 2012 tentang Panduan Penilaian Kapasitas Daerah dalam Penanggulangan Bencana. Dalam menetukan
                tingkat kapasitas merupakan cara atau sarana dalam rangkaian kegiatan penilaian, perencanaan,
                peng-implementasikan, monitoring dan mengembangkan lebih lanjut kapasitas daerah yang dimilikinya untuk
                mengurangi risiko bencana, dimana terdapat 22 indikator Pencapaian Kerangka Aksi Hyogo (KAH) merupakan
                kesepakatan lebih dari 160 negara untuk mengarusutamakan pengurangan risiko bencana dalam pembangunan.
                Sehingga diperlukan waktu khusus bagi para pemangku kepentingan dan institusi di daerah dalam
                pelaksanaannya. Dengan catatan apabila pihak BPBD Kabupaten Murung Raya telah melkukan kegiatan
                Penilaian Tingkat Kapasitas untuk tahun berjalan maka pelaporan mengikuti hasil kegiatan selanjutnya,
                sedangkan apabila belum melaksanakan Penilaian Tingkat Kapasaitas maka diperlukan waktu khusus untuk
                sebagaimana peraturan berlaku.
            </p>
            <br />

        </div>
    </div>
</div>