<div class="row ptb-100 align-items-center">
    <div class="col-lg-12 col-md-12">
        <div class="features-text" style="text-align: justify;">
            <h3>Kerentanan Lingkungan</h3>

            <p>Kerentanan lingkungan terdiri dari parameter hutan lindung, hutan alam, hutan bakau/mangrove, semak
                belukar, dan rawa. Setiap parameter dapat diidentifikasi menggunakan data tutupan lahan. Masing-masing
                parameter dianalisis dengan menggunakan metode skoring sesuai Perka BNPB No. 2 Tahun 2012 untuk
                memperoleh nilai skor kerentanan lingkungan.
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/lingkungan1.png" alt="details">
            </p>

        </div>
    </div>
</div>