<div class="page-title animatedBackground">
    <div class="container">
        <h3>Katalog Peta</h3>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li class="dot-divider"></li>
            <li>Katalog Peta</li>
        </ul>
    </div>
    <div class="bg-pattern"><img src="assets/img/bg-pattern-2.png" alt="pattern"></div>
</div>

<section class="blog-area ptb-100">
    <div class="container">


            <div class="row">
                <div class="item" *ngIf="is_loading">
                    <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="repair-about-content">
                        <div class="section-title">
                            <span>{{direktori.kategori}}</span>
                            <h3>{{direktori.judul}}</h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <!-- MAP  -->
                        <div class="map">
                            <embed type="text/html" class="peta" id="tampilan" [src]="direktori.link_id_peta |safeUrl">
                            <div class="date" style="padding: 10px;">
                                <a href=""><i class="icofont-download"></i>&nbsp;Download Peta</a>
                            </div>
                        </div>


                        <div class="blog-details-content">
                            <p>{{direktori.abstark}}</p>
                            <br>
                            <table class="table">
                                <tr>
                                    <td>Kode</td>
                                    <td>: {{direktori.kode}}</td>
                                </tr>
                                <tr>
                                    <td>Kategori</td>
                                    <td>: {{direktori.kategori}}</td>
                                </tr>
                                <tr>
                                    <td>Tags</td>
                                    <td>: {{direktori.kategori}}</td>
                                </tr>
                                <tr>
                                    <td>Nama Peta</td>
                                    <td>: {{direktori.tipe}}</td>
                                </tr>
                                <tr>
                                    <td>Nama Wilayah Peta</td>
                                    <td>: {{direktori.wilayah}}</td>
                                </tr>
                                <tr>
                                    <td>Feature</td>
                                    <td>: {{direktori.feature}}</td>
                                </tr>
                                <tr>
                                    <td>Size (zip)</td>
                                    <td>: {{direktori.size}}</td>
                                </tr>
                                <tr>
                                    <td>Walidata</td>
                                    <td>: {{direktori.walidata}}</td>
                                </tr>
                                <tr>
                                    <td>Tahun</td>
                                    <td>: {{direktori.tahun}}</td>
                                </tr>
                                <tr>
                                    <td>Organisasi Pengelola</td>
                                    <td>: {{direktori.organisasi_pengelola}}</td>
                                </tr>
                                <!-- <tr>
                                <td>Organisasi</td>
                                <td>: {{direktori.orga}}</td>
                            </tr> -->
                                <tr>
                                    <td>Administrator</td>
                                    <td>: {{direktori.Administrator}}</td>
                                </tr>
                                <tr>
                                    <td>KUGI</td>
                                    <td>: {{direktori.kugi}}</td>
                                </tr>
                                <tr>
                                    <td>Publish Date</td>
                                    <td>: {{direktori.tanggal_publikasi |date}}</td>
                                </tr>
                            </table>

                            <!-- <blockquote class="blockquote">
                                <p>{{direktori.abstark}}</p>
                                <footer class="blockquote-footer"><cite title="Source Title">John Smith</cite></footer>
                            </blockquote> -->


                        </div>

                        <!-- <div class="blog-details-meta">
                            <div class="tags">
                                <ul>
                                    <li class="title">Tags:</li>
                                    <li><a href="#">Medical</a></li>
                                    <li><a href="#">Dental</a></li>
                                    <li><a href="#">Doctor</a></li>
                                </ul>
                            </div>
                            <div class="share">
                                <ul>
                                    <li class="title">Share:</li>
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <app-widget-right></app-widget-right>
                </div>
            </div>
        </div>
</section>


<app-footer-kontak></app-footer-kontak>