<div class="row ptb-100 align-items-center">
    <div class="col-lg-12 col-md-12">
        <div class="features-text" style="text-align: justify;">
            <h3>Analisa Tingkat Bahaya</h3>

            <h4 style="margin-bottom: 10px;"> <b>Gempa Bumi</b></h4>
            <p>Meski pulau Kalimantan secara umum diketahui selama ini dikenal aman dari gempa dan tsunami, namun fakta
                sejarah mencatat peristiwa langka telah terjadi di Kalimantan Tengah khususnya Muara Teweh. BMKG
                mencatat
                kejadian gempa bumi di Kalimantan Tengah terjadi di Muara Teweh pada tanggal 6 Juli tahun 2016 dengan
                kekuatan 4,5 Skala Richter.</p>
            <br />
            <p>Maka untuk membuat peta bahaya gempa bumi dibuat dengan mengacu pada metodologi yang telah dikembangkan
                oleh
                JICA (2015) berdasarkan analisa intensitas guncangan di permukaan. Intensitas guncangan di permukaan
                diperoleh dari hasil penggabungan data intensitas guncangan di batuan dasar dan data faktor amplifikasi
                tanah. Data intensitas guncangan di batuan dasar (Peta Zona Gempabumi respon spektra percepatan 1.0” di
                SB
                untuk probabilitas terlampaui 10% dalam 50 tahun) merupakan turunan dari Peta Hazard Gempabumi Indonesia
                (Kementerian PU, 2010), sedangkan data faktor amplifikasi tanah diperoleh dari hasil perhitungan AVS30
                (Average Shear-wave Velocity in the upper30m) yang diestimasi berdasarkan pendekatan kelas topografi
                dengan
                menggunakan data raster DEM (Digital Elevation Model).</p>
            <br />
            <p>Indeks bahaya gempabumi dibuat berdasarkan hasil pengelasan nilai intensitas guncangan di permukaan.</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/bahaya1.png" alt="details">
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/bahaya2.png" alt="details">
            </p>
            <!-- <ul>
 
                <li>We've been supporting WordPress since the beginning.</li>
                <li>Perfect for large sites or agencies managing multiple clients.</li>
                <li>Our easy-to-use control panel and API let you spend</li>
            </ul> -->
            <br />
            <h4 style="margin-bottom: 10px;"><b>Tsunami</b></h4>
            <p>Dilihat dari letak geografis Kabupaten Murung Raya tidak berbatasan langsung dengan laut sehingga
                kemungkinan terjadinya bahaya tsunami tidak dilakukan kajian lebih lanjut.</p>
            <br />
            <h4 style="margin-bottom: 10px;"><b>Gunung Berapi</b></h4>
            <p>Menurut Peta sebaran gunung api di indonesia yang dikeluarkan oleh (USGS) tahun 2001, di wilayah
                Kabupaten Murung Raya tidak terdapat gunung api, sehingga kajian daerah rawan bencana gunung berapi
                tidak perlu ditindak lanjuti.
                Berikut sebaran gunung api di indonesia yang disajikan dalam sebuah peta sebagaimana Gambar III-2.
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/gunung1.png" alt="details">
            </p>
            <br />
            <h4 style="margin-bottom: 10px;"><b>Banjir</b></h4>
            <p>Bahaya banjir dibuat berdasarkan data daerah rawan banjir dengan memperhitungkan kedalaman genangan
                sesuai Perka No. 2 BNPB Tahun 2012. Daerah rawan banjir dibuat dengan menggunakan data raster DEM
                berdasarkan metode yang dikembangkan oleh Manfreda et al (2009) melalui indeks topografi modifikasi
                dengan persamaan:
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/banjir.png" alt="details">
            </p>
            <br />
            <p>Dimana TIm adalah indeks topografi modifikasi, ad adalah daerah aliran per satuan panjang kontur (atau
                nilai akumulasi aliran berdasarkan analisis data DEM; nilai bergantung pada resolusi DEM), tan (β)
                adalah lereng (berdasarkan analisis data DEM), dan n merupakan nilai eksponensial. Nilai n dihitung
                dengan formula n = 0.016x0.46 , dimana x adalah resolusi DEM.
                Setelah dihasilkan peta indeks topografi, daerah rawan banjir dapat diidentifikasi melalui penggunaan
                nilai ambang batas (τ) dimana daerah rawan banjir adalah jika nilai indeks topografi lebih besar dari
                nilai ambang batas (TIm > τ ). Adapun nilai dari τ, yaitu τ = 10.89n + 2.282. Indeks bahaya banjir
                diestimasi berdasarkan kemiringan lereng dan jarak dari sungai pada daerah rawan banjir tersebut dengan
                metode fuzzy logic (Gambar 5)
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/banjir1.png" alt="details">
            </p>
            <br />

            <h4 style="margin-bottom: 10px;"><b>Tanah Longsor</b></h4>
            <p>Bahaya tanah longsor dibuat berdasarkan pengklasifikasian zona kerentanan gerakan tanah yang dikeluarkan
                oleh PVMBG dan dikoreksi dengan kemiringan lereng di atas 15%. Bagi wilayah kabupaten/kota yang belum
                memiliki zona kerentanan gerakan tanah, bahaya tanah longsor dibuat dengan mengacu pada RSNI Penyusunan
                dan Penentuan Zona Kerentanan Gerakan Tanah yang dikeluarkan oleh PVMBG (2015).
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/longsor1.png" alt="details">
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/longsor2.png" alt="details">
            </p>
            <br />
            <p>Catatan: Terdapat banyak parameter yang dipersyaratkan di dalam RSNI untuk metode deterministik.
                Paramater yang digunakan tersebut merupakan justifikasi terhadap ketersediaan data secara spasial
                (non-survei) sebagaimana Gambar III-4 di bawah ini.
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/longsor3.png" alt="details">
            </p>
            <br />

            <h4 style="margin-bottom: 10px;"><b>Kekeringan</b></h4>
            <p>Bahaya kekeringan dibuat dengan pendekatan kekeringan meteorologis yang dianalisa dengan metode
                perhitungan Indeks Presipitasi Terstandarisasi atau Standized Precipitation Index (SPI) periode 3
                bulanan. Tahapan dalam perhitungan nilai SPI adalah sebagai berikut:
            </p>
            <br>
            <ul>
                <li>Data utama yang dianalisis adalah curah hujan bulanan pada masing-masing data titik stasiun hujan
                    yang mencakup wilayah kajian. Rentang waktu data dipersyaratkan dalam berbagai literatur adalah
                    minimal 30 tahun.</li>
                <li> Nilai curah hujan bulanan dalam rentang waktu data yang digunakan harus terisi penuh (tidak ada
                    data yang kosong). Pengisian data kosong dapat dilakukan dengan berbagai metode, salah satunya yaitu
                    metode MNSC.</li>
                <li>Melakukan perhitungan mean, standar deviasi, lambda, alpha, beta dan frekuensi untuk setiap
                    bulannya </li>
                <li>Melakukan perhitungan distribusi probabilitas cdf Gamma </li>
                <li>Melakukan perhitungan koreksi probabilitas kumulatif H(x) untuk menghindari nilai cdf Gamma tidak
                    terdefinisi akibat adanya curah hujan bernilai 0 (nol) </li>
                <li>Transformasi probabilitas kumulatif H(x) menjadi variabel acak normal baku. Hasil yang diperoleh
                    adalah nilai SPI</li>
            </ul>
            <br />
            <p>Selanjutnya, untuk membuat peta bahaya kekeringan dapat dilakukan beberapa tahapan sebagai berikut : </p>
            <br />
            <ul>
                <li>Mengidentifikasi dalam setiap tahun data kejadian kekeringan di wilayah kajian agar dapat dipilih
                    bulanbulan tertentu yang mengalami kekeringan saja.</li>
                <li>2. Melakukan interpolasi spasial titik stasiun hujan berdasarkan nilai SPI-3 pada bulan yang
                    terpilih di masing-masing tahun data dengan menggunakan metode semivariogram kriging.</li>
                <li>Mengkelaskan hasil interpolasi nilai SPI-3 menjadi 2 kelas yaitu nilai <-0.999 adalah kering (1) dan
                        nilai>0.999 adalah tidak kering (0) </li>
                <li>Hasil pengkelasan nilai SPI-3 dimasing-masing tahun data di-overlay secara keseluruhan (akumulasi
                    semua tahun) </li>
                <li>Menghitung frekuensi kelas kering (1) dengan minimum frekuensi 5 kali kejadian dalam rentang waktu
                    data dijadikan sebagai acuan kejadian kekeringan terendah </li>
                <li>Melakukan transformasi linear terhadap nilai frekuensi kekeringan menjadi nilai 0 – 1 sebagai indeks
                    bahaya kekeringan </li>
                <li>Sebaran spasial nilai indeks bahaya kekeringan diperoleh dengan melakukan interpolasi nilai indeks
                    dengan metode Areal Interpolation dengan tipe Average (Gaussian).</li>
            </ul>
            <br />
            <p>Tahapan atau alur proses analisa bencana kekeringan disajikan pada gambar III-5 di bawah ini.</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kekeringan.png" alt="details">
            </p>
            <br />

            <h4 style="margin-bottom: 10px;"><b>Kebakaran Hutan dan Lahan</b></h4>
            <p>Bahaya Kebakaran Lahan dan Hutan (Karlahut) dibuat sesuai metode yang ada di dalam Perka No. 2 BNPB Tahun
                2012. Parameter penyusun bahaya kebakaran hutan dan lahan terdiri dari parameter jenis hutan dan lahan,
                iklim, dan jenis tanah. Setiap parameter diidentifikasi untuk mendapatkan kelas parameter dan dinilai
                berdasarkan tingkat pengaruh/kepentingan masing-masing kelas menggunakan metode skoring.
                Tahapan atau alur proses analisa bencana kebakaran hutan dan lahan disajikan pada gambar III-6 di bawah
                ini. </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kebakaran.png" alt="details">
            </p>
            <br>

            <h4 style="margin-bottom: 10px;"><b>Cuaca Ekstrim</b></h4>
            <p>Bahaya cuaca ekstrim dalam hal ini bahaya angin puting beliung dibuat sesuai Perka No. 2 BNPB Tahun 2012
                dengan menggunakan metode skoring terhadap parameter-parameter penyusunnya yaitu Keterbukaan Lahan (KL),
                Kemiringan Lereng (L), dan Curah Hujan Tahunan (CH).</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/cuaca.png" alt="details">
            </p>
            <br>
            <p>
                <img src="assets/img/disclaimer/cuaca1.png" alt="details">
            </p>
            <br>

            <h4 style="margin-bottom: 10px;"><b>Banjir Bandang</b></h4>
            <p>Bahaya banjir bandang dibuat berdasarkan pedoman yang dikeluarkan oleh Kementerian PU (2011) dan
                dilakukan modifikasi metodologi. Parameter penyusun bahaya banjir bandang terdiri dari daerah bahaya
                longsor di wilayah hulu (cakupan wilayah DAS), sungai utama yang berpotensi terbendung oleh material
                longsor, dan kondisi topografi (lereng) di sekitar aliran sungai. Penentuan indeks bahaya banjir bandang
                dilakukan berdasarkan pengklasifikasian kedalaman genangan dengan metode fuzzy logic.</p>
            <br />
            <p>Tahapan atau alur proses analisa bencana banjir bandang disajikan pada gambar III-8 di bawah ini.</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/bandang.png" alt="details">
            </p>
        </div>
    </div>
</div>