<!-- <app-preloader></app-preloader> -->
<!-- <app-top-header *ngIf="!(location == '/error' || location == '/home-2' || location == '/home-5')"></app-top-header> -->
<!-- <app-navbar *ngIf="!(location == '/error')"></app-navbar> -->
<router-outlet></router-outlet>
<!-- <app-footer *ngIf="!(location == '/error')"></app-footer> -->
<ngx-loading-bar></ngx-loading-bar>