<section class="boxes-area">
    <div class="owl-thumbs">
        <div class="owl-thumb-item">
            <div class="box">
                <div class="d-table">
                    <div class="d-table-cell">
                        
            <strong><i class="icofont-google-map"></i> Jl. Letjend Soeprapto </strong> <br>
            (Terminal AKAP Bahitom) Puruk Cahu Kalimantan Tengah
                        <span>Alamat</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-thumb-item">
            <div class="box bg">
                <div class="d-table">
                    <div class="d-table-cell">
                        
            <strong><i class="icofont-ui-call"></i> (021) 8882771</strong> <br>
            Hubungi kami via telepon
                        <span>Telepon</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-thumb-item">
            <div class="box">
                <div class="d-table">
                    <div class="d-table-cell">
                        <strong><i class="icofont-email"></i> murungrayarisk@gmail.com</strong><br> 
                        Hubungi kami via email
                        <span>Email</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>