<div class="row ptb-100 align-items-center">
    <div class="col-lg-12 col-md-12">
        <div class="features-text" style="text-align: justify;">
            <h3>Analisa Tingkat Kerentanan</h3>

            <h4 style="margin-bottom: 10px;"> <b>Kerentanan Sosial</b></h4>
            <p>Kerentanan sosial terdiri dari parameter kepadatan penduduk dan kelompok rentan. Kelompok rentan terdiri
                dari rasio jenis kelamin, rasio kelompok umur rentan, rasio penduduk miskin, dan rasio penduduk cacat.
                Secara spasial, masing-masing nilai parameter didistribusikan di wilayah pemukiman per desa/kelurahan
                dalam bentuk grid raster (piksel) berdasarkan acuan data WorldPop atau metode dasimetrik yang telah
                berkembang. Setiap piksel merepresentasikan nilai parameter sosial (jumlah jiwa) di seluruh wilayah
                pemukiman. Pendistribusian nilai parameter sosial dapat dilakukan dengan menggunakan persamaan berikut
                (Khomaruddin et al, 2010) :</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/sosial1.png" alt="details">
            </p>
            <br />
            <p>Dimana: </p>
            <br />
            <p>Xd adalah jumlah populasi di dalam unit administrasi; </p>
            <p>Pi adalah jumlah populasi di dalam pemukiman ke-i; </p>
            <p>Pij adalah jumlah populasi di polygon ke-j di dalam pemukiman ke-i; </p>
            <p>Sij adalah polygon ke-j di dalam pemukiman ke-i di dalam unit administrasi; </p>
            <p>n adalah jumlah polygon di dalam pemukiman di dalam unit administrasi.</p>
            <br />
            <p>Masing-masing parameter dianalisis dengan menggunakan metode skoring sesuai Perka BNPB No. 2 Tahun 2012
                untuk memperoleh nilai skor kerentanan sosial. </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/sosial2.png" alt="details">
            </p>

            <br />
            <h4 style="margin-bottom: 10px;"><b>Kerentanan Fisik</b></h4>
            <p>Kerentanan fisik terdiri dari parameter rumah, fasilitas umum dan fasilitas kritis. Jumlah nilai rupiah
                rumah, fasilitas umum, dan fasilitas kritis dihitung berdasarkan kelas bahaya di area yang terdampak.
                Distribusi spasial nilai rupiah untuk parameter rumah dan fasilitas umum dianalisis berdasarkan sebaran
                wilayah pemukiman seperti yang dilakukan untuk analisis kerentanan sosial. Masing-masing parameter
                dianalisis dengan menggunakan metode skoring sesuai Perka BNPB No. 2 Tahun 2012 untuk memperoleh nilai
                skor kerentanan fisik.</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/fisik.png" alt="details">
            </p>
            <br />
            <h4 style="margin-bottom: 10px;"><b>Kerentanan Ekonomi</b></h4>
            <p>Kerentanan ekonomi terdiri dari parameter konstribusi PDRB dan lahan produktif. Nilai rupiah lahan
                produktif dihitung berdasarkan nilai konstribusi PDRB pada sektor yang berhubungan dengan lahan
                produktif (seperti sektor pertanian) yang dapat diklasifikasikan berdasarkan data penggunaan lahan.
                Nilai rupiah untuk parameter ekonomi dihitung berdasarkan persamaan berikut:</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/ekonomi1.png" alt="details">
            </p>
            <br />
            <p>Dimana: </p>
            <br />
            <p>RLPi nilai rupiah lahan produktif kelas penggunaan lahan ke-i di tingkat Desa/Kelurahan </p>
            <p>PLPtot-i nilai total rupiah lahan produktif berdasarkan nilai rupiah sektor ke-i di tingkat
                Kabupaten/Kota </p>
            <p>LLPtot-i luas total lahan produktif ke-i di tingkatKabupaten/Kota</p>
            <p>LLPdesa-i luas lahan produktif ke-i di tingkat Desa/Kelurahan </p>
            <p>RPPdesa-i nilai rupiah PDRB sektor di desa ke-i</p>
            <p>RPPKK nilai rupiah PDRB sektor di tingkat Kabupaten/Kota </p>
            <p>LKK luas wilayah Kabupaten/Kota </p>
            <p>LDi luas Desa/Kelurahan ke-i</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/ekonomi2.png" alt="details">
            </p>
            <br />
            <p>Masing-masing parameter dianalisis dengan menggunakan metode skoring sesuai Perka BNPB No. 2 Tahun 2012
                untuk memperoleh nilai skor kerentanan ekonomi.</p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/ekonomi3.png" alt="details">
            </p>
            <br />


            <h4 style="margin-bottom: 10px;"><b>Kerentanan Lingkungan</b></h4>
            <p>Kerentanan lingkungan terdiri dari parameter hutan lindung, hutan alam, hutan bakau/mangrove, semak
                belukar, dan rawa. Setiap parameter dapat diidentifikasi menggunakan data tutupan lahan. Masing-masing
                parameter dianalisis dengan menggunakan metode skoring sesuai Perka BNPB No. 2 Tahun 2012 untuk
                memperoleh nilai skor kerentanan lingkungan.
            </p>
            <br />
            <p>
                <img src="assets/img/disclaimer/kerentanan/lingkungan1.png" alt="details">
            </p>

           
    </div>
</div>