<app-slide></app-slide>
<app-repository></app-repository>
<app-about></app-about>
<app-statistik></app-statistik>
<!-- <app-berita></app-berita> -->
<app-unggulan></app-unggulan>
<app-footer-kontak></app-footer-kontak>