<section class="repair-about-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Profil</span>
                        <h3>Tugas dan Fungsi</h3><br>
                    </div>
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="section-title">
                        <p><b class="text-bold">{{dataTugas.title}} :</b></p>
                        <div class="analysis-text">
                            <ul>
                                <div [innerHTML]="dataTugas.content | safeHtml"></div>
                            </ul>
                        </div>
                    </div>

                    <br>
                    <div class="section-title">
                        <p><b class="text-bold">{{dataFungsi.title}} :</b></p>

                        <div class="analysis-text">
                            <ul>
                                <div [innerHTML]="dataFungsi.content | safeHtml"></div>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="repair-about-image">
                    <img src="assets/img/visi-misi/visi-1.jpg" alt="image">
                    <img src="assets/img/visi-misi/visi-2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>