<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Berita</span>
            <h3>Artikel</h3>
            <!-- <p>We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of the industry.</p> -->
            <a routerLink="/blog-1" class="read-more-btn">Lihat Semua Berita</a>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4" *ngFor="let item of listOfData">
                <div class="single-blog-post">
                    <a href="#" class="blog-image"><img
                            src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{item.id_media}}"
                            alt="blog"></a>
                    <div class="blog-post-content">
                        <span>{{item.created_at|date}}</span>
                        <h3><a routerLink="/artikel/view/{{item.id_post}}">{{item.title}}</a></h3>
                        <a routerLink="/artikel/view/{{item.id_post}}" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>