<section class="repair-about-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="repair-about-content">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="section-title">
                        <span>Profil</span>
                        <h3>Visi dan Misi</h3>
                        <br><br>
                        <p><b class="text-bold">{{dataVisi.title}} :</b></p><br>
                        <div [innerHTML]="dataVisi.content | safeHtml"></div>
                    </div>

                    <div class="section-title">
                        <p><b class="text-bold">{{dataMisi.title}} :</b></p>

                        <div class="analysis-text">
                            <ul>
                                <div [innerHTML]="dataMisi.content | safeHtml"></div>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;"> Hal ini untuk menciptakan masyarakat Kabupaten Murung Raya yang mempunyai kesempatan yang sama untuk menjadi sumber daya manusia yang berkualitas tinggi.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;">Hal ini untuk menciptakan masyarakat yang sehat dan produktif.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;">Hal ini untuk meningkatkan aksesibilitas di seluruh wilayah Kabupaten Murung Raya, sehingga akan meningkatkan pertumbuhan ekonomi.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;">Hal ini agar seluruh masyarakat dapat berpartisipasi dan menikmati hasilpembangunan ekonomi secara adil dan merata.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;">Hal ini untuk menciptakan tata pemerintahan yang transparan, akuntabel, bebas penyalahgunaan kekuasaan dan wewenang, efektif dan efisien sehingga dapat mendorong pertumbuhan ekonomi dan kehidupan yang lebih baik.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;">Hal ini untuk menciptakan kepastian berusaha sehingga akan tercapai pembangunan yang berkelanjutan.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-about-box">
                                <i class="icofont-verification-check"></i>
                                <h3 style="text-align: justify;"></h3>
                                <p style="text-align: justify;">Hal ini untuk menciptakan masyarakat Kabupaten Murung Raya yang berdisiplin, taat hukum, aman, saling menghargai, demokratris toleransi dan penghargaan terhadap budaya loka.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="repair-about-image">
                    <img src="assets/img/visi-misi/visi-1.jpg" alt="image">
                    <img src="assets/img/visi-misi/visi-2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>