.ptb-100 {
    padding-top: 30px;
    padding-bottom: 60px;
}

.td-table {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
}

.read-more-btn{
    text-decoration: underline;
}

.features-text ul {
    padding: 0;
    margin: 0px 0 20px;
    list-style-type: none;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.table-katalog {
    margin-bottom: 20px;
}

.title{
    margin-bottom: 10px;
}