<div class="page-title">
    <div class="bg-pattern">
        <img src="assets/img/bg-pattern-2.png" alt="pattern" />
    </div>
</div>

<section class="features-area ptb-100">
    <div class="container">

        <div class="row">
            <div class="item" *ngIf="is_loading">
                <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Katalog Data</span>
                        <h3>{{dataKategori.kategori}}</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-12">
                <select type="text" name="subjek" class="form-control"
                    placeholder="Contoh : Banjir, Kebakaran, Pohon Tumbang" [(ngModel)]="waktu">
                    <option label="1 tahun" value="1 year"></option>
                    <option label="1 bulan" value="1 mounth"></option>
                </select>
            </div> -->
        </div>

        <div class="row">
            <div class="item" *ngIf="is_loading">
                <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
            </div>
            <div class="col-md-9">
                <!-- <div class="item">
                    <ngx-skeleton-loader count="5" appearance="line"> </ngx-skeleton-loader>
                </div> -->

                <div class="table-katalog" *ngFor="let item of kategori">

                    <div class="row">
                        <div class="col-md-5">
                            <embed height="300px" type="text/html"
                                [src]="item.link_id_peta | safeUrl">
                        </div>
                        <div class="col-md-7">
                            <h3 class="title">{{item.judul}}</h3>
                            <p>{{item.abstark}}</p>
                            <hr>
                            <div class="features-text mb-0">
                                <ul>
                                    <li>Tahun :{{item.tahun}}</li>
                                    <li>Tanggal Publish :{{item.tanggal_publikasi}}</li>
                                    <li>Type : {{item.kategori}}</li>

                                </ul>
                                <a [routerLink]="['../detail',item.id_direktori]" routerLinkActive="router-link-active"
                                    class="read-more-btn">Buka
                                    Detail</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-md-3">
                <div class="side-bar mb-0">
                    <div class="widget-box search-box">
                        <div class="row">
                            <form>
                                <div class="col-md-12">
                                    <div class="form-group" style="width: 100% !important;">
                                        <input class="form-control" type="text" name="kata_kunci" [(ngModel)]="kata_kunci" placeholder="Kata kunci">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="width: 100% !important;">
                                        <select name="topic" class="form-control" [(ngModel)]="bulan_form" >
                                            <option value="" selected disabled>- Bulan -</option>
                                            <option value="" >Semua</option>
                                            <option name="bulan_form" *ngFor="let item of bulan" value={{item.id}} >{{item.bulan}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="width: 100% !important;">
                                        <select name="year" class="form-control" [(ngModel)]="tahun_form" >
                                            <option value="" selected disabled>- Tahun -</option>
                                            <option value="" >Semua</option>
                                            <option name="tahun_form" *ngFor="let item of year" value={{item.tahun}} >{{item.tahun}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <input type="submit" class="btn btn-primary disabled"  (click)="searchData()" style="width: 100%;" value="Filter">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <app-widget-right></app-widget-right>
            </div>
        </div>
    </div>
    <div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>
</section>


<app-footer-kontak></app-footer-kontak>