<div class="page-title animatedBackground">
    <div class="container">
        <!-- <h3>Disclaimer</h3> -->
        <ul>
            <!-- <li><a router="/">Home</a></li>
            <li class="dot-divider"></li>
            <li>About Us</li> -->
        </ul>
    </div>
    <div class="bg-pattern"><img src="assets/img/bg-pattern-2.png" alt="pattern"></div>
</div>

<section class="features-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-3">
                <div class="features-text">
                    <h3>METODE ANALISIS DATA</h3>
                    <p>Metode analisa data yang dijadikan acuan dan rujukan dalam pelaksanaan kegiatan ini sebagaimana
                        termuat dalam buku Resiko Bencana Indonesia (RBI) yang telah diterbitkan oleh Badan Nasional
                        Penanggulangan Bencana (BNPB) tahun 2016. Dan beberapa metode tambahan yang dirasa cukup relevan
                        dengan keadaan ataupun karakteristik wilayah Kabupaten Murung Raya.</p>
                </div>
                <router-outlet></router-outlet>
            </div>
            <div class="col-lg-4 col-md-3">
                <div class="side-bar mb-0">
                    <div class="widget-box categories-box">
                        <h3 class="title">Disclaimer</h3>
                        <ul>
                            <li>
                                <a routerLink="/disclaimer/bahaya">Analisa Tingkat Bahaya</a> 
                            </li>
                            <li>
                                <a routerLink="/disclaimer/kerentanan">Analisa Tingkat Kerentanan</a> 
                            </li>
                            <li>
                                <a routerLink="/disclaimer/rentan-lingkungan">Kerentanan Lingkungan</a> 
                            </li>
                            <li>
                                <a routerLink="/disclaimer/kapasitas">Analisa Tingkat Kapasitas</a> 
                            </li>
                            <li>
                                <a routerLink="/disclaimer/resiko">Peta Indeks Resiko Bencana</a> 
                            </li>
                        </ul>
                    </div>


                </div>
                <app-widget-right></app-widget-right>
            </div>
        </div>
    </div>
</section>