<div class="page-title">
    <div class="bg-pattern">
        <img src="assets/img/bg-pattern-2.png" alt="pattern" />
    </div>
</div>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="section-title">
                        <span>Berita</span>
                        <h3>{{dataType.post_type}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="thumb">
                        <img src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{dataPost.id_media}}"
                            alt="details">
                        <div class="date">
                            <span>{{dataPost.created_at |date}}</span>
                        </div>
                    </div>
                    <div class="blog-details-heading">
                        <h3>{{dataPost.title}}</h3>
                        <ul>
                            <li>Posted By: <a href="#">Admin</a></li>
                            <li><a href="#"><i class="icofont-comment"></i> 05</a></li>
                            <li><a href="#"><i class="icofont-thumbs-up"></i> 15</a></li>
                        </ul>
                    </div>
                    <div class="blog-details-content">
                        <div [innerHTML]="dataPost.content | safeHtml" style="text-align:justify ;"></div>
                        <div class="blog-details-meta">
                            <div class="tags">
                                <ul>
                                    <li class="title">Tags:</li>
                                    <li><a href="#">Medical</a></li>
                                    <li><a href="#">Dental</a></li>
                                    <li><a href="#">Doctor</a></li>
                                </ul>
                            </div>
                            <div class="share">
                                <ul>
                                    <li class="title">Share:</li>
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="blog-details-comments">
                            <h3 class="title">Komentar (03)</h3>
                            <div class="single-comments">
                                <div class="thumb">
                                    <img src="assets/img/client-avatar1.jpg" alt="client">
                                </div>
                                <div class="content">
                                    <h4>Steven Smith</h4>
                                    <span>December 30, 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">Reply <i class="icofont-reply"></i></a>
                                </div>
                            </div>
                            <div class="single-comments left-mr">
                                <div class="thumb">
                                    <img src="assets/img/client-avatar2.jpg" alt="client">
                                </div>
                                <div class="content">
                                    <h4>Eva Smith</h4>
                                    <span>December 30, 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">Reply <i class="icofont-reply"></i></a>
                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="single-comments">
                                <div class="thumb">
                                    <img src="assets/img/client-avatar3.jpg" alt="client">
                                </div>
                                <div class="content">
                                    <h4>John Doe</h4>
                                    <span>December 30, 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">Reply <i class="icofont-reply"></i></a>
                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="single-comments">
                                <div class="thumb">
                                    <img src="assets/img/client-avatar1.jpg" alt="client">
                                </div>
                                <div class="content">
                                    <h4>David Warner</h4>
                                    <span>December 30, 2018</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">Reply <i class="icofont-reply"></i></a>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="blog-details-comments-form">
                            <h3 class="title">Leave a Reply</h3>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea cols="30" rows="6" class="form-control" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button class="btn btn-primary" type="submit">Submit <i class="fa fa-angle-double-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <app-widget-right-artikel></app-widget-right-artikel>
            </div>
        </div>
    </div>
</section>