<section class="features-area ptb-100">
    <div class="container">

        <div class="row ">
            <div class="item" *ngIf="is_loading">
                <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="section-title">
                        <span>Data Bencana</span>
                        <h3>{{kategori.bencana_kategori}}</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-9 col-md-9">

                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <select type="text" name="Periode" class="form-control" placeholder="Tahun"
                                    [(ngModel)]="tahun">
                                    <option *ngFor="let item of list_tahun" label="{{item}}" value="{{item}}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <button class="btn btn-primary" (click)="searchData()" type="submit">Filter <i
                                    class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </form>

                <h5 *ngIf="dataBencana.length <1 " style="font-style: italic; color: burlywood;">Tidak ada data bencana
                    pada Periode {{tahun}} ini,
                    coba periode lain</h5>
                <div class="item" *ngIf="is_loading">
                    <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                </div>



                <div echarts [options]="options" class="demo-chart" (chartInit)="onChartInit($event)"></div>


                <h4 *ngIf="dataBencana.length > 0">Tabular</h4>
                <table class="table table-hovered" *ngIf="dataBencana.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>
                                Bencana</th>
                            <th (click)="searchData('tanggal')">
                                <i class="icofont-sort"></i>
                                Tanggal
                            </th>
                            <th>Lokasi</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let data of dataBencana" class="modal-taggle-button" href="#" data-toggle="modal"
                        (click)="getDetail(data.id_bencana)" data-target="#sidebarModal2">
                        <td *ngIf="!data.foto">
                            <img width="100" src="assets/img/no_image.png" alt="image">
                        </td>
                        <td *ngIf="data.foto">
                            <img width="100"
                                src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{data.foto}}"
                                alt="image">
                        </td>
                        <td>{{data.penyebab}}</td>
                        <td>{{data.tanggal |date}}</td>
                        <td>{{data.nama_kel}}, {{data.nama_kec}}</td>
                    </tr>
                </table>

                <!-- <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="pagination-area">
                            <nav aria-label="navigation">
                                <ul class="pagination justify-content-center"  > 
                                    <li class="page-item"><a class="page-link" href="#"><i class="icofont-double-left"></i></a></li>
                                    <li class="page-item" ><a class="page-link" (click)="searchData(pageIndex = 1)">1</a></li>
                                    <li class="page-item" ><a class="page-link" (click)="searchData(pageIndex = 2)">2</a></li>
                                    <li class="page-item"><a class="page-link" (click)="searchData(pageIndex = 3)">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="icofont-double-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="col-lg- col-md-3">

                <app-widget-right></app-widget-right>
            </div>
        </div>
    </div>
    <!-- <div class="rocket"><img src="assets/img/rocket.png" alt="rocket"></div> -->
    <div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>
</section>



<div class="modal right fade sidebarModal" id="sidebarModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="section-title">
                        <span>Detail Bencana</span>
                        <h3>{{bencana.penyebab}}</h3>
                    </div>

                    <img *ngIf="!bencana.foto" width="100" src="assets/img/no_image.png" alt="image">
                    <img *ngIf="bencana.foto"
                        src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{bencana.foto}}"
                        alt="team">
                    <br />
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <span>
                        <p style="text-align: justify;"><b>Kronologi:</b> {{bencana.kronologi}}</p>
                    </span>
                    <span>
                        <p style="text-align: justify;"><b>Keterangan:</b> {{bencana.keterangan}}</p>
                    </span>
                    <table class="Table2">
                        <tr>
                            <td><b>Tanggal</b></td>
                            <td>: {{bencana.tanggal |date}}</td>
                        </tr>
                        <tr>
                            <b>Lokasi</b>
                        </tr>
                        <tr>
                            <td>Kelurahan</td>
                            <td>: {{kel.nama_kel}}</td>
                        </tr>
                        <tr>
                            <td>Kecamatan</td>
                            <td>: {{kec.nama_kec}}</td>
                        </tr>
                        <tr>
                            <td>Kab/Kot</td>
                            <td>: {{kab.nama_kabkot}}</td>
                        </tr>
                        <tr>
                            <td>Provinsi</td>
                            <td>: {{prov.nama_prov}}</td>
                        </tr>
                        <tr>
                            <b>Kekuatan</b>
                        </tr>
                        <tr>
                            <td>Level</td>
                            <td>: {{bencana.level_bencana}}</td>
                        </tr>
                        <tr>
                            <td>Luas</td>
                            <td>: {{bencana.luas}}</td>
                        </tr>
                        <tr>
                            <b>Korban</b>
                        </tr>
                        <tr>
                            <td>KK</td>
                            <td>: {{bencana.jumlah_kk}}</td>
                        </tr>
                        <tr>
                            <td>Hilang</td>
                            <td>: {{bencana.jumlah_korban_hilang}}</td>
                        </tr>
                        <tr>
                            <td>Luka Ringan</td>
                            <td>: {{bencana.jumlah_korban_luka_ringan}}</td>
                        </tr>
                        <tr>
                            <td>Luka Berat</td>
                            <td>: {{bencana.jumlah_korban_luka_berat}}</td>
                        </tr>
                        <tr>
                            <td>Meninggal</td>
                            <td>: {{bencana.jumlah_korban_meninggal}}</td>
                        </tr>
                        <tr>
                            <b>Dampak</b>
                        </tr>
                        <tr>
                            <td>Fasilitas Umum</td>
                            <td>: {{bencana.fasilitas_umum}}</td>
                        </tr>
                        <tr>
                            <td>Fasilitas ibadah</td>
                            <td>: {{bencana.fasilitas_ibadah}}</td>
                        </tr>
                        <tr>
                            <td>Fasilitas pendidikan</td>
                            <td>: {{bencana.fasilitas_pendidikan}}</td>
                        </tr>
                        <tr>
                            <td>Fasilitas kesehatan</td>
                            <td>: {{bencana.fasilitas_kesehatan}}</td>
                        </tr>
                        <tr>
                            <td>Rumah</td>
                            <td>: {{bencana.rumah_terdampak}}</td>
                        </tr>
                        <tr>
                            <td>Kios</td>
                            <td>: {{bencana.kios_terdampak}}</td>
                        </tr>
                        <tr>
                            <td>Lahan Hutan</td>
                            <td>: {{bencana.lahan_hutan}}</td>
                        </tr>
                        <tr>
                            <td>Lahan Kebun</td>
                            <td>: {{bencana.lahan_kebun}}</td>
                        </tr>
                        <tr>
                            <b>Antisipasi</b>
                        </tr>
                        <tr>
                            <td>Penanganan</td>
                            <td>: {{bencana.penanganan}}</td>
                        </tr>
                        <tr>
                            <td>Tindakan</td>
                            <td>: {{bencana.tindakan}}</td>
                        </tr>
                        <tr>
                            <td>Masa Darurat</td>
                            <td>: {{bencana.masa_darurat}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>