.ptb-100 {
    padding-top: 30px;
    padding-bottom: 60px;
}

.td-table {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    width: 100%;
}

.read-more-btn{
    text-decoration: underline;
}

.features-text ul {
    padding: 0;
    margin: 0px 0 20px;
    list-style-type: none;
}
.Table1{
    width: 100%;
    table, th, td {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 5px;

    }
}

.Table2{
    table, th, td {
        padding-right: 15px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}


.table-katalog {
    margin-bottom: 20px;
}

.title{
    margin-bottom: 10px;
}

img{
    display: block;
    margin: auto;
}