<div class="page-title">
    <div class="bg-pattern">
        <img src="assets/img/bg-pattern-2.png" alt="pattern" />
    </div>
</div>

<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="repair-about-content">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="section-title">
                        <span>Berita</span>
                        <h3>{{dataType.post_type}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="item" *ngIf="is_loading">
                        <ngx-skeleton-loader count="10" appearance="line"> </ngx-skeleton-loader>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngFor="let item of dataPost">
                        <div class="single-blog-post">
                            <a class="blog-image"><img
                                    src="http://murung-admin-api.bpbd.devetek.com/download?ukuran=sedang&id_media={{item.id_media}}"
                                    alt="blog"></a>
                            <div class="blog-post-content">
                                <span>Business & Tech</span>
                                <h3><a routerLink="../view/{{item.id_post}}">{{item.title}}</a></h3>
                                <p></p>
                                <a routerLink="../view/{{item.id_post}}" class="read-more-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="blog-image"><img src="assets/img/blog-img2.jpg" alt="blog"></a>
                            <div class="blog-post-content">
                                <span>Testing & Tools</span>
                                <h3><a routerLink="/blog-details">15 Testing Tools for Optimizing Your Site in 2020</a></h3>
                                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>
                                <a routerLink="/blog-details" class="read-more-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="blog-image"><img src="assets/img/blog-img3.jpg" alt="blog"></a>
                            <div class="blog-post-content">
                                <span>User & Experience</span>
                                <h3><a routerLink="/blog-details">12 Tried-and-True Ways to Improve User Experience</a></h3>
                                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>
                                <a routerLink="/blog-details" class="read-more-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-post">
                            <a routerLink="/blog-details" class="blog-image"><img src="assets/img/blog-img4.jpg" alt="blog"></a>
                            <div class="blog-post-content">
                                <span>Apps & Trend</span>
                                <h3><a routerLink="/blog-details">The 13 Best Time Tracking Apps of 2020</a></h3>
                                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem pretium semper lectus ac digni...</p>
                                <a routerLink="/blog-details" class="read-more-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#"><i class="icofont-double-left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="icofont-double-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-12">

                <app-widget-right-artikel></app-widget-right-artikel>
            </div>
        </div>
    </div>
</section>