<div class="side-bar mb-0">
    <div class="widget-box search-box">
        <form>
            <input type="text" placeholder="Search here..." class="form-control">
            <button type="submit"><i class="icofont-search-2"></i></button>
        </form>
    </div>
    <div class="widget-box categories-box">
        <h3 class="title">Kategori</h3>
        <ul>
            <li *ngFor="let item of dataType"><a href="/artikel/{{item.id_post_type}}" ><i class="icofont-dotted-right"></i>{{item.post_type}}</a></li>
        </ul>
    </div>

    <div class="widget-box categories-box">
        <h3 class="title">What's New</h3>
        <ul>
            <li><a href="/artikel/view/{{item.id_post}}" *ngFor="let item of dataPost"><i class="icofont-dotted-right"></i>{{item.title}}</a></li>
        </ul>
    </div>

    <div class="widget-box tags-box">
        <h3 class="title">Tags</h3>
        <ul>
            <li><a href="#">Design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Arts</a></li>
            <li><a href="#">Blog Post</a></li>
            <li><a href="#">Seo Analysis</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Email Marketing</a></li>
        </ul>
    </div>
</div>